<div id="asdf"></div>

<script type="text/babel">
    var Jumbotron = React.createClass({
        propTypes: {
                title: React.PropTypes.string
        },
        getDefaultProps: function() {
            return ({
              title: 'Default Title',
              text: 'Default Text',
              link: '#'
              });
        },
        render: function() {
            return (
                <div className="jumbotron">
                    <h1>{this.props.title}</h1>
                    <p className="lead">{this.props.text}</p>
                    <p>
                        <a onClick={this.onClick.bind(this, 'hello')} className="btn btn-lg btn-success" href='#' role="button">Sign up today</a>
                    </p>
                </div>
            );
        },
        onClick: function(greeting) {
            alert(greeting);
        }
    });
    
    ReactDOM.render(
        <Jumbotron title="asdf" text="here is some text" link="http://www.google.com/"/>,
        document.getElementById('asdf')
    );
</script>